<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Мои объявления</title>
</head>
<body>
<div class="container">

    <!-- Navigation -->
    <div>
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Job4j Cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/mainPage}">Главная</a>
                    <a class="nav-item nav-link"
                       th:if="${account.name != 'Гость'}" th:href="@{/createAdForm}">
                        Разместить объявление
                    </a>
                    <a class="nav-item nav-link"
                       th:if="${account.name != 'Гость'}" th:href="@{/logout}">
                        <span th:text="${account.name}"></span>
                        <span> | Выйти</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <div class="p-3 card">
        <div class="card-header">
            Мои объявления.
        </div>
        <table class="table">
            <tbody>
            <tr th:if="${!ads.isEmpty()}" th:each="ad: ${ads}">
                <td><a th:href="@{|/adPage/${ad.id}|}">
                    <img th:width="270" th:high="270"
                         th:src="@{|/photo/${ad.id}}|" alt="без фото"></a></td>
                <td><b><h5><p>
                    <a th:href="@{|/adPage/${ad.id}|}" th:text="${ad.header}">
                    </a></p>
                    <p th:text="${ad.price} + ' ₽'"></p></h5></b></td>
                <td th:text="${ad.getFormCreated}"></td>
                <td>
                    <p>
                        <a th:href="@{|/editAdForm/${ad.id}|}">
                            <i class="fa fa-edit"></i></a>
                    </p>
                    <p>
                    <form th:action="@{|/changeAdStatus/${ad.id}|}" method="POST">
                    <button th:if="${!ad.isSold}" type="submit"
                            class="btn btn-secondary btn-sm">Снять объявление</button>
                    <button th:if="${ad.isSold}" type="submit"
                            class="btn btn-success btn-sm">Опубликовать</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${ads.isEmpty()}"><b><h2>У Вас нет объявлений.</h2></b></tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>